*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.main{
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: palevioletred;
}
#city-name, #Search-btn{

    padding: 10px  ;
    font-size: 2em;
    border: none;
   

}

.first-div > p{
    font-size: 1em;
   
}